.accountForm {
    width: 800px;
}
.css-hwkq3c-MuiInputBase-root-MuiFilledInput-root ,
.css-reij49-MuiInputBase-root-MuiFilledInput-root ,
.css-batk84-MuiInputBase-root-MuiFilledInput-root
{
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #c4c4c4;
}

.accountForm label {
    text-transform: uppercase;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root.select  {
    width: 48%;
}
.css-hwkq3c-MuiInputBase-root-MuiFilledInput-root::before {
    content: unset;
    border-radius: 5px;
}
.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
    background: white !important;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.w-50 {
    width: 48% !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root input ,
.css-1gctnaj-MuiInputBase-input-MuiFilledInput-input input ,
.css-reij49-MuiInputBase-root-MuiFilledInput-root input ,
.css-reij49-MuiInputBase-root-MuiFilledInput-root ,
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root ,
.css-batk84-MuiInputBase-root-MuiFilledInput-root{
    background-color: white !important;
}